.hero{
  height: 80vh;
  background-image: url("../Assets/wp3.png");
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat; 
  display: flex;
  display: flex;
}
.hero-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  list-style: 1.1;
}
.hero-left h2{
  font-size: 26px;
  color: #000000;
  font-weight: 600;
}
.hero-left p{
  font-size: 100px;
  color: #000000;
  font-weight: 700;
}
.hero-medusa-icon{
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-medusa-icon img{
  width: 50px;
  height: 60px;
}
.hero-latest-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #bb1e2d;
  color: white;
  font-size: 22px;
  font-weight: 500;
}
.hero-right{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}