.newsletter {
  width: 70%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 150px;
  padding: 40px 100px;
  text-align: center;

  /* Fondo con imagen + overlay */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
}

.newsletter::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}

.newsletter h1,
.newsletter p,
.newsletter-input {
  position: relative;
  z-index: 1;
}

.newsletter h1 {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.newsletter p {
  font-size: 20px;
  color: #fff;
  opacity: 0.9;
  margin-bottom: 20px;
}

.newsletter-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 650px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.newsletter-input input {
  flex: 1;
  padding: 0 20px;
  border: none;
  outline: none;
  color: gray;
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
}

.newsletter-input button {
  width: 200px;
  height: 100%;
  border: none;
  background-color: rgb(5, 5, 5);
  color: white;
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.newsletter-input button:hover {
  background-color: #f30000;
}
