.descriptionbox{
    margin: 120px 170px;
}
.descriptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    width: 171px;
    height: 70px;
    border: 1px solid #C4C4C4;
}
.descriptionbox-nav-box.fade{
    background-color: #F5F5F5;
    color: #9B9B9B;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #E0E0E0;
    padding: 48px;
    padding-bottom: 70px;
}