@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- ESTILOS GENERALES (ESCRITORIO) --- */
.navbar {
  display: flex;
  justify-content: space-between; /* Logo izq, Menu centro, Login der */
  align-items: center;
  background-color: #0b2772; /* Tu color Azul original */
  padding: 15px 5%;
  font-family: 'Fredoka One', cursive;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.navbar-logo img {
  height: 60px;
  object-fit: contain;
}

/* Contenedor de los links */
.navbar-menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #ffffff; /* Texto blanco original */
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.menu-item img {
  width: 24px;
  height: 24px;
}

.menu-item:hover {
  color: #bb1e2d;
  transform: scale(1.05);
}

.nav-login {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-login button {
  background-color: #bb1e2d;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease;
}

.nav-login button:hover {
  background-color: #d92536;
  transform: translateY(-2px);
}

.nav-cart {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-cart img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav-cart img:hover {
  transform: scale(1.1);
}

.nav-cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  color: #bb1e2d;
  background-color: #ffffff;
  border: 2px solid #bb1e2d;
}


@media (max-width: 768px) {

  .navbar {
    padding: 10px 20px;
    height: 70px;
    justify-content: space-between; 
      border-bottom: 2px solid #bb1e2d; 
  }

  .navbar-logo img {
    height: 45px; 
  }

  .nav-login button {
    padding: 6px 12px;
    font-size: 14px; 
  }

  .nav-login {
    gap: 10px;
  }

  .navbar-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #0b2772; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.2);
      border-top: 2px solid #bb1e2d; 
    z-index: 1000;
  }

  .menu-item {
    flex-direction: column; 
    gap: 5px;
    font-size: 12px;
  }

  .menu-item img {
    width: 24px;
    height: 24px;
  }
  

  .menu-item.active {
      color: #bb1e2d; 
      font-weight: bold;
  }
  .menu-item.active img {
      transform: scale(1.1);
  }
}