@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
}

body {
    margin: 0;
    -web-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Fredoka One', cursive;
}