.ingresar{
    width: 100%;
    height: 80vh;
    background: #e5e3fc;
    padding-top: 100px;
}
.ingresar-container{
    width: 580px;
    height: 530px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.ingresar.container h1{
    margin: 20px 0px;
}
.ingresar-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.ingresar-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.ingresar-container button{
    width: 460px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}
.ingresar-ingresar{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 400;
}

.ingresar-link {
  color: #ff4141;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease;
}

.ingresar-link:hover {
  color: #bb1e2d;
}
.ingresar-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 400;
}