.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 60px; 
}
.popular h1{
    color:black;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #1d1919;
}
.popular-item {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    justify-items: center; 
    width: 100%;
    max-width: 1200px; 
}
