
.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0 5%; 
  padding-bottom: 60px;
  width: 100%;
}

.popular h1 {
  color: #000;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background-color: #1d1919;
  border: none;
}

.popular-item {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; 
  width: 100%;
  max-width: 1200px; 
  justify-items: center; 
}

@media (max-width: 1024px) {
  .popular-item {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
  }
  
  .popular h1 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .popular-item {
    grid-template-columns: 2fr; 
  }

  .popular h1 {
    font-size: 32px;
  }

  .popular hr {
    width: 150px;
    height: 4px;
  }
}