

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; 
  padding: 0 5%; 
  padding-bottom: 60px;
  width: 100%; 
}

.popular h1 {
  color: #000; 
  font-size: 50px;
  font-weight: 600;
  text-align: center; 
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background-color: #1d1919;
  border: none; 
}

.popular-item {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  
  gap: 30px;
  width: 100%;
  max-width: 1280px;
  

  justify-items: center; 
}


@media (max-width: 768px) {
  .popular h1 {
    font-size: 36px; 
  }

  .popular hr {
    width: 150px;
    height: 4px;
  }

  .popular-item {
    gap: 20px;
    margin-top: 30px;
    grid-template-columns: 1fr; 
    padding: 0 10px;
  }
}